<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Overt"
        android:name=".MainApplication"
        tools:targetApi="26">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.example.overt.Server"
            android:exported="false"
            android:process=":overt_server_iso"
            android:isolatedProcess="true"/>
    </application>
    <queries>
        <package android:name="com.miui.securitymanager"/>
        <package android:name="com.miui.securitycenter"/>
        <package android:name="com.sukisu.ultra"/>
        <package android:name="me.garfieldhan.apatch.next"/>
        <package android:name="com.rifsxd.ksunext"/>
        <package android:name="io.github.vvb2060.magisk"/>
        <package android:name="com.topjohnwu.magisk"/>
        <package android:name="me.bmax.apatch"/>
        <package android:name="com.lerist.fakeloction"/>
        <package android:name="me.weishu.kernelsu"/>
        <package android:name="de.robv.android.xposed.installer"/>
        <package android:name="org.meowcat.edxposed.manager"/>
        <package android:name="com.tsng.hidemyapplist"/>
        <package android:name="com.tsng.hidemyroot"/>
        <package android:name="org.lsposed.manager"/>
        <package android:name="me.weishu.exp"/>
        <package android:name="top.canyie.dreamland.manager"/>
        <package android:name="io.va.exposed"/>
        <package android:name="io.va.exposed64"/>
        <package android:name="io.virtualapp"/>
        <package android:name="io.virtualapp.sandvxposed64"/>
        <package android:name="com.cygery.repetitouch.pro"/>
        <package android:name="com.cyjh.mobileanjian"/>
        <package android:name="com.touchsprite.android"/>
        <package android:name="com.cjzs123.zhushou"/>
        <package android:name="com.touchspriteent.android"/>
        <package android:name="com.zidongdianji"/>
        <package android:name="org.autojs.autojspro"/>
        <package android:name="org.autojs.autojs"/>
        <package android:name="com.zdanjian.zdanjian"/>
        <package android:name="com.zdnewproject"/>
        <package android:name="com.ifengwoo.zyjdkj"/>
        <package android:name="com.angel.nrzs"/>
        <package android:name="com.cyjh.mobileanjian.vip"/>
        <package android:name="com.shumai.shudaxia"/>
        <package android:name="fun.tooling.clicker.cn"/>
        <package android:name="com.dianjiqi"/>
        <package android:name="com.miaodong.autoactionssss"/>
        <package android:name="com.mxz.wxautojiafujinderen"/>
        <package android:name="com.touchelf.app"/>
        <package android:name="com.stardust.scriptdroid"/>
        <package android:name="com.adinall.autoclick"/>
        <package android:name="com.i_cool.auto_clicker"/>
        <package android:name="com.kongshan.aidianji"/>
        <package android:name="com.xptech.catclicker"/>
        <package android:name="com.tingniu.autoclick"/>
        <package android:name="com.yicu.yichujifa"/>
        <package android:name="com.smallyin.autoclick"/>
        <package android:name="com.ksxkq.autoclick"/>
        <package android:name="com.x2.clicker"/>
        <package android:name="com.scott.autoclickhelper"/>
        <package android:name="com.auyou.auyouwzs"/>
        <package android:name="com.github.uiautomator"/>
        <package android:name="com.github.uiautomator2"/>
        <package android:name="com.sigma_rt.totalcontrol"/>
        <package android:name="com.genymobile.scrcpy"/>
        <package android:name="com.yztc.studio.plugin"/>
        <package android:name="com.soft.apk008v"/>
        <package android:name="com.uwish.app"/>
        <package android:name="zpp.wjy.xxsq"/>
        <package android:name="com.bigsing.changer"/>
        <package android:name="zap.fh.wipe"/>
        <package android:name="com.sollyu.xposed.hook.model"/>
        <package android:name="com.soft.apk008Tool"/>
        <package android:name="com.doubee.ig"/>
        <package android:name="com.variable.apkhook"/>
        <package android:name="com.addeasy.fastest"/>
        <package android:name="com.xenice.mask"/>
        <package android:name="com.shyl.artifact"/>
        <package android:name="com.android1500.androidfaker"/>
        <package android:name="eu.chainfire.supersu"/>
        <package android:name="com.noshufou.android.su"/>
        <package android:name="com.noshufou.android.su.elite"/>
        <package android:name="com.koushikdutta.superuser"/>
        <package android:name="com.thirdparty.superuser"/>
        <package android:name="com.yellowes.su"/>
        <package android:name="com.fox2code.mmm"/>
        <package android:name="io.github.vvb2060.magisk"/>
        <package android:name="com.kingroot.kinguser"/>
        <package android:name="com.kingo.root"/>
        <package android:name="com.smedialink.oneclickroot"/>
        <package android:name="com.zhiqupk.root.global"/>
        <package android:name="com.alephzain.framaroot"/>
        <package android:name="io.github.huskydg.magisk"/>
        <package android:name="com.tencent.mm"/>
    </queries>
</manifest>